<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Blog Website
        {% endblock %}
    </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="#">Blogs</a>
            <a href="#">Categories</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <span class="username">
                    {{user.username}}
                </span>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}"> Register</a>
            {% endif %}

        </div>
    </nav>

    <hr>

    <!-- Main Content -->
    <main>

        {% block content %}

        {% endblock %}

    </main>

    <hr>

    <!-- Footer -->
    <footer>

        <p>© 2026 My Blog Website</p>

    </footer>

    <script src="{% static 'style.js' %}"></script>

</body>
</html>