{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="header">

    <h1>Latest Blogs</h1>

    <a href="{% url 'create_blog' %}" class="btn">
        Create Blog
    </a>

</div>

{% if blogs %}

    {% for blog in blogs %}

    <div class="blog-card">

        {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
        {% endif %}

        <div class="blog-content">

            <h2>{{ blog.title }}</h2>

            <p class="author">
                By {{ blog.author }}
            </p>

            <p>
                {{ blog.content|truncatewords:25 }}
            </p>

            <p class="date">
                {{ blog.created_at }}
            </p>

            <div class="card-actions">

                <a href="{% url 'blog_detail' blog.id %}" class="btn read-btn">
                    Read More
                </a>

                <a href="{% url 'update_blog' blog.id %}" class="btn edit-btn">
                    Edit
                </a>

                <a href="{% url 'delete_blog' blog.id %}" class="btn delete-btn">
                    Delete
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

{% else %}

<h2>No Blogs Available</h2>

{% endif %}

{% endblock %}